<div class="container mx-auto mt-5 w-50 p-5">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="text-center mb-3">
       <%= image_tag "developer.png", width: 100, height: 100 %>
       <small class="text-muted d-block mt-2">Forgot Your Password</small>
    </div>

    <div class="form-group mb-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded-0 shadow-none", placeholder: "Your Email" %>
      <small class="form-text text-muted">We will share reset password instructions to your email</small>
    </div>

    <%= f.submit "Send", class: 'btn btn-primary rounded-0 w-100 mb-2' %>

  <% end %>
  
  <%= render "users/shared/links" %>
</div>
